In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("AAPL.csv")

In [4]:
df.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
499,2018-10-03,230.050003,233.470001,229.779999,232.070007,232.070007,28654800
500,2018-10-04,230.779999,232.350006,226.729996,227.990005,227.990005,32042000
501,2018-10-05,227.960007,228.410004,220.580002,224.289993,224.289993,33580500
502,2018-10-08,222.210007,224.800003,220.199997,223.770004,223.770004,29663900
503,2018-10-09,223.639999,227.270004,222.250000,226.869995,226.869995,26873300

In [7]:
df[['Open','Close']].plot()